---
import Container from "@common-components/Container.astro";
import Journey from "./Journey.astro";
---

<section id="career">
  <Container>
    <Fragment slot="header"
      >My&nbsp;<span class="highlight">Career Journey</span>
    </Fragment>
    <Fragment slot="subheader"
      >Professional journey and achievement in software Development</Fragment
    >
    <Journey />
  </Container>
</section>
