---
import Container from "@common-components/Container.astro";
import Social from "./Social.astro";
---

<section id="contact">
  <Container>
    <Fragment slot="header"
      >Let's&nbsp;<span class="highlight">Connect</span>
    </Fragment>
    <Fragment slot="subheader"
      >Feel free to reach out through any of these platforms</Fragment
    >
    <div class="platforms reveal">
      <Social contactOnly={true} />
    </div>
  </Container>
</section>

<style lang="scss">
  .platforms {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
  }
</style>
