<a href="https://bit.ly/4jWyWyU" target="_blank" class="resume">
  <span>download CV</span>
  <span class="icon"><i class="cil-cloud-download"></i></span>
</a>

<script>
  const FILE_URL: string = "https://bit.ly/4jWyWyU";
  function downloadFile() {
    fetch(FILE_URL)
      .then((response) => response.blob())
      .then((blob) => {
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "SDE-2_Aman_Kumar_Sharma.pdf";
        link.click();
      })
      .catch(console.error);
  }
  
  const el = document.querySelector('#_resume_');
  el?.addEventListener('click', downloadFile);
</script>

<style lang="scss">
  .resume {
    background: var(--gradient-highlight);
    width: 200px;
    padding: 12px 28px;
    border-radius: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--light-main);
    font-family: var(--font-family-inria);
    font-weight: 600;
    font-size: var(--text-sm);
    letter-spacing: 0.5px;
    border: none;
    transition: all var(--transition-smooth);
    .icon {
      font-size: 18px;
      font-weight: 800;
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 30px rgba(218, 65, 103, 0.4);
    }
  }
</style>
