<div class="container">
  <h3 class="header reveal">
    <slot name="header" />
  </h3>
  <h5 class="subheader reveal reveal-delay-1">
    <slot name="subheader" />
  </h5>
  <slot />
</div>

<style lang="scss">
  @import "../../styles/media.scss";

  .container {
    padding: 60px 0 48px;
    .header {
      text-align: center;
      font-size: var(--text-3xl);
      color: var(--light-main);
      font-family: var(--font-family-inria);
      padding: 0 0 10px;
      letter-spacing: -0.5px;
      @include medium_device {
        font-size: var(--text-2xl);
      }
    }
    .subheader {
      font-size: var(--text-sm);
      text-align: center;
      color: var(--light-grey);
      font-family: var(--font-family-inria-regular);
      margin-bottom: 40px;
      letter-spacing: 0.3px;
    }
  }
</style>
